<main>
    <div id="container">
        <section class="left-section">
            <article class="left-text">
                <h1>Történetünk</h1>
                <p>
                    Az IR-Autó vállalkozást Irinyi Béla alapította 2020-ban, egy olyan időszakban, amikor a
                    gépjárműiparban tapasztalt változások, horrorárak és növekvő igények arra ösztönözték, hogy
                    létrehozza saját vállalkozását. A cég azóta folyamatosan fejlődik és bővül. Az IR-Autó munkatársai
                    elkötelezetten
                    dolgoznak
                    azon, hogy ügyfelei számára minőségi szolgáltatást nyújtsanak. A vállalat kiemelkedő
                    teljesítményének
                    elismeréseként 2022-ben elnyerte "Az év magyar vállalata" díjat, ami további motivációt adott a
                    csapatnak a kitűzött célok eléréséhez.
                </p>
            </article>
            <div class="spacer">
                <mat-icon class="image" color="warn">directions_car</mat-icon>
            </div>
        </section>
        <section class="right-section">
            <div class="spacer">
                <mat-icon class="image" color="warn">build_circle</mat-icon>
            </div>
            <article class="right-text">
                <h1>Kiemelkedő Minőség és Ügyfélélmény</h1>
                <p>
                    Az IR-Autó számára az ügyfelek elégedettsége mindig a legfontosabb prioritás volt. Célunk,
                    hogy minőségi alkatrészeket és kiváló szolgáltatást nyújtsunk minden vásárlónknak, és hogy minden
                    érintett ügyfél pozitívabban és jobb minőségű autóval távozzon tőlünk, mint amivel eljött hozzánk.
                </p>
            </article>
        </section>
    </div>
</main>