<main>
    <div id="container">
        <section>
            <div class="logo-div">
                <mat-icon class="logo" color="warn">tire_repair</mat-icon>
            </div>
            <article class="right-text">
                <h1>A vállalkozásunk</h1>
                <p>
                    Üdvözöljük az IR-Autó alkatrész weboldalán, ahol minőségi autóalkatrészek, olajok/folyadékok széles
                    választékát kínáljuk a vásárlóknak. Célunk, hogy egyedi és kiváló minőségű
                    termékeinkkel hosszú távon biztosítsuk ügyfeleink autóinak megbízhatóságát és teljesítményét.
                    Böngésszen kínálatunkban, és válassza ki az ön járművéhez leginkább megfelelő alkatrészeket és
                    folyadékokat!
                </p>
            </article>
        </section>
    </div>
</main>